@use "../abstracts/abstracts" as *;

.element-grid-blocks {
  &__warp {
    display: grid;
    row-gap: var(--row-gap, 2rem);
    column-gap: var(--column-gap, 2rem);
    grid-template-columns: var(--grid-columns, repeat(4, minmax(0, 1fr)));

    .item {
      position: relative;
      @extend %border-radius-8;
      @include transition();

      &:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
      }

      &__thumbnail {
        height: 33.5rem;
        overflow: hidden;
        @extend %border-radius-8;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__body {
        padding: 0 2rem 1.6rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}