@use "../abstracts/abstracts" as *;

.element-image-carousel {
  .item {
    overflow: hidden;
    @include transition();

    &:hover {
      box-shadow: 0 .3rem .5rem #888888;
    }

    &__thumbnail {
      position: relative;

      .link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }

  &.owl-carousel {
    .owl-stage-outer {
      padding-bottom: 1rem;
    }
  }
}