@use "../abstracts/abstracts" as *;

.element-table-press {
  .table-warp {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .tablepress {
      margin: 0;
      min-width: 120rem;

      caption {
        display: none;
      }

      td, th {
        --border-color: #E7E7E7;
        --padding: 2.3rem;

        text-align: center;
        border: .1rem solid var(--border-color);
      }

      thead {
        th {
          --head-bg-color: transparent;
          --head-text-color: var(--#{$prefix-my-theme}color-primary);

          font-size: 2rem;
        }
      }

      tbody {
        td {
          --text-color: var(--#{$prefix-my-theme}color-primary);

          font-size: 1.7rem;
        }
      }
    }
  }
}