/**
* Table of Contents:
*
# Base
# Layout
# Components
* -----------------------------------------------------------------------------
*/
/**
# Base
-----------------------------------------------------------------------------*/
* {
  outline: none !important;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

a {
  transition: all 0.4s ease-in-out;
}

p:last-child {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid #ff5555;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.sticky-footer {
  flex: 1 0 auto;
}

#site-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}

#back-top {
  background-color: #ff5555;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}
#back-top a {
  display: block;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
#back-top.active_top {
  opacity: 1;
  bottom: 15px;
}
#back-top:hover {
  background-color: #000000;
}

.site-container {
  padding: 50px 0;
}
.site-container.site-container-elementor {
  padding: 0;
}

.site-page-content p:after {
  display: table;
  clear: both;
  content: "";
}

.wp-caption.alignnone, .alignnone, a img.alignnone {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  margin: 0.5rem auto;
}

.wp-caption.alignright, .alignright, a img.alignright {
  margin: 0.5rem 0 2rem 2rem;
}

.wp-caption.alignleft, .alignleft, a img.alignleft {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  display: block;
}

.alignright, a img.alignright {
  float: right;
}

.alignleft, a img.alignleft {
  float: left;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  clip: auto !important;
  color: #ff5555;
  display: block;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

.bypostauthor,
.sticky {
  color: #ff5555;
}

form.post-password-form p label {
  margin: 0;
}
form.post-password-form p input {
  border: 1px solid #dddddd;
  border-radius: 0;
  padding: 4px 10px;
  margin-left: 10px;
}
form.post-password-form p input[type=submit] {
  border-radius: 0;
  background-color: #696969;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 15px;
}

.gallery {
  margin-bottom: 20px;
}

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
  width: auto !important;
}

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(46%);
  max-width: 46%;
  width: auto !important;
}

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: -webkit-calc(29.3%);
  max-width: 29.3%;
  width: auto !important;
}

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(21%);
  max-width: 21%;
  width: auto !important;
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(16%);
  max-width: 16%;
  width: auto !important;
}

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(12.7%);
  max-width: 12.7%;
  width: auto !important;
}

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(10.28%);
  max-width: 10.28%;
  width: auto !important;
}

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(8.5%);
  max-width: 8.5%;
  width: auto !important;
}

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(7.1%);
  max-width: 7.1%;
  width: auto !important;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.gallery-item:hover .gallery-caption {
  opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

#gallery-2 {
  width: 300px;
}

#gallery-10 img,
#gallery-9 img,
#gallery-8 img,
#gallery-7 img,
#gallery-6 img,
#gallery-5 img,
#gallery-4 img,
#gallery-3 img,
#gallery-2 img,
#gallery-1 img {
  width: 100%;
  height: auto;
  border: none !important;
}

#gallery-3 {
  width: 600px;
}

/**
# Layout
-----------------------------------------------------------------------------*/
.global-header {
  background-color: #ffffff;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}

.site-navigation {
  position: relative;
  display: grid;
  grid-gap: 2.4rem;
}
.site-navigation__logo a {
  display: inline-block;
  line-height: 64px;
  padding: 15px 0;
}
.site-navigation__menu > ul > li > a {
  padding: 0 15px;
}
.site-navigation__menu ul {
  padding: 0;
  margin: 0;
}
.site-navigation__menu ul li {
  position: relative;
}
.site-navigation__menu ul li a {
  text-shadow: none;
  display: block;
}
.site-navigation__menu ul li a:hover {
  background-color: transparent;
  color: #ff5555;
}
.site-navigation__menu ul li:last-child a {
  padding-right: 0;
}
.site-navigation__menu ul li .sub-menu-toggle:after {
  transition: all 0.4s ease-in-out;
}
.site-navigation__menu ul li.current-menu-item > a, .site-navigation__menu ul li.current-menu-parent > a {
  color: #ff5555;
}
.site-navigation__menu .sub-menu-toggle {
  font-size: 14px;
  cursor: pointer;
}
.site-navigation__menu .sub-menu-toggle:after {
  content: "\f078";
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .site-navigation__menu ul li:nth-last-child(1) .sub-menu, .site-navigation__menu ul li:nth-last-child(2) .sub-menu {
    left: auto;
    right: 0;
  }
  .site-navigation__menu ul li:nth-last-child(1) .sub-menu li .sub-menu, .site-navigation__menu ul li:nth-last-child(2) .sub-menu li .sub-menu {
    left: auto;
    right: 90%;
  }
  .site-navigation__menu ul li:nth-last-child(1) .sub-menu li:hover > .sub-menu, .site-navigation__menu ul li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    left: auto;
    right: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .site-navigation__menu ul li a {
    padding: 0 7px;
  }
}
@media (min-width: 992px) {
  .site-navigation__menu > ul {
    height: 100%;
  }
  .site-navigation__menu > ul > li {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }
  .site-navigation__menu ul li .sub-menu {
    display: block !important;
    min-width: 160px;
    border-top: 1px solid #ff5555;
    background-color: #3498db;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .site-navigation__menu ul li .sub-menu li {
    padding: 6px 8px;
    display: flex;
  }
  .site-navigation__menu ul li .sub-menu li a {
    white-space: nowrap;
    flex: 1;
  }
  .site-navigation__menu ul li .sub-menu li .sub-menu {
    left: 90%;
    top: -1px;
  }
  .site-navigation__menu ul li .sub-menu li:hover > .sub-menu {
    left: 100%;
  }
  .site-navigation__menu ul li .sub-menu li:hover > .sub-menu-toggle:after {
    transform: rotate(-90deg);
  }
  .site-navigation__menu ul li:hover > .sub-menu {
    top: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991px) {
  .site-navigation__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    z-index: 99;
  }
  .site-navigation__menu .collapse {
    display: none !important;
  }
  .site-navigation__menu .collapse.in {
    display: block !important;
  }
  .site-navigation__menu ul li {
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .site-navigation__menu ul li:last-child {
    border-bottom: 0;
  }
  .site-navigation__menu ul li a {
    display: inline-block;
    padding: 15px 0;
  }
  .site-navigation__menu ul li .sub-menu-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
    height: 20px;
  }
  .site-navigation__menu ul li .sub-menu-toggle.active:after {
    transform: rotate(180deg);
  }
  .site-navigation__menu ul li .sub-menu {
    display: none;
    border-top: 0;
    background-color: transparent;
  }
  .site-navigation__menu ul li .sub-menu li {
    border-bottom: 0;
    padding: 0;
  }
  .site-navigation__menu ul li .sub-menu li a {
    padding: 8px 0;
  }
  .site-navigation__menu ul li .sub-menu li a:before {
    content: "\f111";
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-right: 10px;
  }
  .site-navigation__menu ul li .sub-menu li .sub-menu-toggle {
    top: 5px;
    right: 0;
  }
  .site-navigation__menu ul li .sub-menu li .sub-menu {
    padding-left: 20px;
  }
}
.site-navigation__cart {
  position: relative;
}
.site-navigation__cart .cart-customlocation {
  position: relative;
  cursor: pointer;
}
.site-navigation__cart .cart-customlocation i {
  font-size: 18px;
  padding-right: 15px;
}
.site-navigation__cart .cart-customlocation .number-cart-product {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  top: -12px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5555;
}
.site-navigation__cart .widget_shopping_cart {
  position: absolute;
  top: 120%;
  right: 0;
  width: 300px;
  padding: 20px 15px;
  background-color: #ffffff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}
.site-navigation__cart .widget_shopping_cart .widgettitle {
  display: none;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list {
  margin-bottom: 20px;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li {
  padding: 0;
  margin-bottom: 15px;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li:last-child {
  margin-bottom: 0;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li a {
  font-weight: 400;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove {
  top: -3px;
  left: auto;
  right: 0;
  width: auto;
  height: auto;
  font-size: 35px;
  color: #000000 !important;
  line-height: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove:hover {
  color: #ff5555 !important;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li a img {
  float: left;
  margin: 0 10px 0 0;
  width: 50px;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .cart_list li .woocommerce-Price-amount {
  font-weight: 700;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__total {
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__total .woocommerce-Price-amount {
  font-weight: 700;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons:before, .site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons:after {
  display: none;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons a {
  padding: 0 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.site-navigation__cart .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons a:last-child {
  margin-bottom: 0;
}
.site-navigation__cart:hover .widget_shopping_cart {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .site-navigation {
    grid-template-columns: 64px 1fr auto;
  }
}
@media (max-width: 991px) {
  .site-navigation {
    grid-template-columns: 1fr auto;
  }
  .site-navigation__logo {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .admin-bar .active-sticky-nav {
    top: 32px;
  }
}
.search-form {
  font-size: 12px;
}

.search-field {
  border: 1px solid #3498db;
  height: auto;
  padding: 9px 10px;
  border-radius: 3px;
  box-shadow: none;
}

.search-submit {
  background-color: #ff5555;
  color: #fff;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
}

section.widget {
  margin-bottom: 30px;
}
section.widget:last-child {
  margin-bottom: 0;
}
section.widget .widget-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
}
section.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section.widget ul li:not(:last-child) {
  margin-bottom: 10px;
}
section.widget ul li a {
  display: block;
}
section.widget ul li ul.children, section.widget ul li ul.sub-menu {
  padding-left: 15px;
  padding-top: 10px;
}
section.widget ul li ul.children li, section.widget ul li ul.sub-menu li {
  border-bottom: 0;
  padding: 0 0 10px;
}
section.widget ul li ul.children li:last-child, section.widget ul li ul.sub-menu li:last-child {
  padding-bottom: 0;
}
section.widget select {
  width: 100%;
  padding: 9px 10px;
  font-size: 12px;
}
section.widget.widget_search .search-form {
  display: flex;
}
section.widget.widget_search .search-form .search-field {
  flex: 1;
}
section.widget.widget_search .search-form .search-submit {
  margin-left: 10px;
}
section.widget.widget_archive ul li a, section.widget.widget_categories ul li a {
  display: inline-block;
  margin-right: 5px;
}
section.widget.widget_calendar table {
  width: 100%;
}
section.widget.widget_calendar table caption {
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
}
section.widget.widget_calendar table tr {
  border-bottom: 1px solid #3498db;
}
section.widget.widget_calendar table tr th {
  text-align: center;
}
section.widget.widget_calendar table tr td {
  padding: 5px 0;
  text-align: center;
}
section.widget.widget_calendar table tr td#today {
  background-color: #ff5555;
  color: #ffffff;
}
section.widget.widget_calendar table tr td#today a {
  color: #ffffff;
}
section.widget.widget_calendar table tr td#prev {
  text-align: left;
}
section.widget.widget_calendar table tr td#next {
  text-align: right;
}
section.widget.widget_rss ul li {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
section.widget.widget_rss ul li .rssSummary {
  font-size: 12px;
}
section.widget.widget_tag_cloud .tagcloud a, section.widget.widget_product_tag_cloud .tagcloud a {
  display: inline-block;
  font-size: 13px !important;
  border: 1px solid #eee;
  padding: 5px 10px;
  margin: 0 2px 5px;
}
section.widget.widget_tag_cloud .tagcloud a:hover, section.widget.widget_product_tag_cloud .tagcloud a:hover {
  background-color: #ff5555;
  color: #ffffff;
  border-color: #ff5555;
}
section.widget .social-network-item {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
section.widget .recent-post-widget__list .post {
  margin-bottom: 1.2rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 11rem 1fr;
}
section.widget .recent-post-widget__list .post:last-child {
  margin-bottom: 0;
}
section.widget .recent-post-widget__list .image {
  width: 110px;
  flex: 0 0 auto;
}
section.widget .recent-post-widget__list .title {
  margin-bottom: 10px;
  font-size: 1.4rem;
  overflow: hidden;
}
section.widget .recent-post-widget__list .meta {
  font-size: 1.2rem;
}
section.widget .recent-post-widget__list .meta i.fa {
  margin-right: 5px;
}

.global-footer section.widget {
  margin-bottom: 15px;
}
.global-footer__column {
  border-top: 1px solid #3498db;
  padding: 30px 0;
}
.global-footer__bottom {
  padding: 10px 0;
  color: #ffffff;
  background-color: #000000;
}

/**
# Components
-----------------------------------------------------------------------------*/
.breadcrumbs .breadcrumbs-col {
  padding: 15px 0;
  border-bottom: 1px solid #3498db;
}

form.wpcf7-form p {
  position: relative;
  margin: 0;
}
form.wpcf7-form p span.ajax-loader {
  position: absolute;
  top: 8px;
}
form.wpcf7-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}
form.wpcf7-form span.required {
  color: #ff5555;
}
form.wpcf7-form span.wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 15px;
}
form.wpcf7-form span.wpcf7-form-control-wrap input,
form.wpcf7-form span.wpcf7-form-control-wrap textarea {
  height: auto;
  width: 100%;
  display: block;
  border: 1px solid #e9ebed;
  background-color: #f8f8f8;
  padding: 4px 12px;
  color: #202020;
}
form.wpcf7-form span.wpcf7-form-control-wrap input:focus,
form.wpcf7-form span.wpcf7-form-control-wrap textarea:focus {
  border-color: #ff335f;
}
form.wpcf7-form span.wpcf7-form-control-wrap textarea {
  height: 100px;
}
form.wpcf7-form .wpcf7-submit {
  color: #fff;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: #000000;
}

.comments-area {
  padding: 30px 0;
}
@media (max-width: 480px) {
  .comments-area ul li ul.children {
    padding-left: 1rem;
  }
}
.comments-area a,
.comments-area .required {
  color: #ff5555;
}
.comments-area__title {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 1.8rem;
}
.comments-area__title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 0.1rem;
  background: #ff5555;
  transition: all 0.4s ease-in-out;
}
.comments-area__list {
  margin-bottom: 2.4rem;
  list-style: none;
  padding-left: 0;
}
.comments-area__list .comment:not(:last-child) {
  margin-bottom: 2.4rem;
}
.comments-area__list .comment__body {
  padding: 1.2rem;
  border-radius: 4px;
  border: 1px solid #3498db;
}
.comments-area__list .comment__body > div:not(:last-child) {
  margin-bottom: 1.2rem;
}
.comments-area__list .comment__body .author {
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: 60px 1fr;
}
.comments-area__list .comment__body .author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.comments-area__list .comment__body .author__info span {
  display: block;
}
.comments-area__list .comment__body .author__info .name {
  font-weight: 700;
}
.comments-area__list .comment__body .author__info .date {
  font-size: 1.4rem;
}
.comments-area__list .comment__body .action {
  font-size: 1.4rem;
}
.comments-area__list .comment__body .action a {
  display: inline-block;
}
.comments-area__list .comment__body .action a:not(:last-child) {
  margin-right: 1.2rem;
}
.comments-area__list .comment__body .action a:hover {
  color: #000000;
}
.comments-area__list .children {
  margin-top: 2.4rem;
  padding-left: 1.2rem;
  list-style: none;
}
.comments-area__list .comment-respond {
  margin-top: 2.4rem;
}
.comments-area .comment-reply-title {
  font-size: 1.8rem;
}
.comments-area .comment-reply-title small {
  margin-left: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
}
.comments-area .comment-form {
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.comments-area .comment-form .comment-notes {
  order: 1;
}
@media (min-width: 576px) {
  .comments-area .comment-form .comment-fields-row {
    margin-bottom: 3rem;
  }
}
.comments-area .comment-form input,
.comments-area .comment-form textarea {
  display: block;
  width: 100%;
  padding: 9px 22px;
  height: auto;
  border: 1px solid #3498db;
  border-radius: 0;
}
.comments-area .comment-form .form-comment-field {
  margin-bottom: 30px;
}
.comments-area .comment-form .form-submit {
  order: 4;
}
.comments-area .comment-form .form-submit input {
  cursor: pointer;
  display: inline-block;
  width: auto;
  padding: 9px 22px;
  color: #000000;
  background-color: #3498db;
  border: none;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
}
.comments-area .comment-form .form-submit input:hover {
  color: #ffffff;
  border-color: #ff5555;
  background-color: #ff5555;
}

.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: 50px;
}

.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-numbers li {
  display: inline-block;
}
.page-numbers li span,
.page-numbers li a {
  display: block;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px 12px;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.page-numbers li span.current,
.page-numbers li a:hover {
  background: #ff5555;
  border-color: #ff5555;
  color: #ffffff;
}

.owl-carousel .owl-nav {
  text-align: center;
  margin-top: 15px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  margin: 0 6px;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  transition: all 0.4s ease-in-out;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  color: #ff5555;
}
.owl-carousel .owl-dots {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 5px;
}
.owl-carousel .owl-dots .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #ff5555;
}

.custom-equal-height-owl .owl-stage {
  display: flex;
}
.custom-equal-height-owl .owl-stage .owl-item {
  display: flex;
  flex: 1 0 auto;
}

.social-network-item {
  display: inline-block;
  margin-right: 5px;
}
.social-network-item:last-child {
  margin-right: 0;
}
.social-network-item a {
  display: block;
}